<!DOCTYPE html>

<!-- File origin: VS1LAB A1a -->

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeoTagApp</title>
    <link rel="stylesheet" href="./stylesheets/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header class="header">
        <img src="./images/location.png" class="header__image block" alt="an image of a map and location">
        <h1 class="header__title block">GeoTagApp</h1>
        <nav class="header__navigation block">
            <a href="#">About</a> | <a href="#">Help</a> | <a href="/">Home</a>
        </nav>
    </header>

    <main class="main row">
        <section class="main__tagging tagging col-4">
            <h2>Tagging</h2>

            <!-- ############### VS1Lab 1a Form 1 Start -->
            <form id="tag-form" action="/tagging" method="post">
                   <fieldset>
                      <legend>Add a new GeoTag</legend>
                  
                      <label class="tagging_item" for="latitude">Latitude:</label>
                      <input class="block tagging_item" name="userLat" type="text" id="latId" value='<%= userLatValue %>' />

                      <label class="tagging_item" for="longitude">Longitude:</label>
                      <input class="block tagging_item" name="userLong" type="text" id="longId" value='<%= userLongValue %>' />

                      <label class="tagging_item" for="name">Name:</label>
                      <input class="block tagging_item" name="name" type="text" id="name" placeholder="e.g. Central Berlin" pattern="[a-zA-Z]+" maxlength="10" required> 

                      <label class="tagging_item" for="hashtag">Hashtag:</label>
                      <input class="block tagging_item"  name="hashtag" type="text" id="hashtag" placeholder="e.g. #ber" pattern="#[a-zA-Z]*" maxlength="11">
                  
                      <input class="tagging_item" type="submit" id="addTag" value="Add Tag">
                    
                    </fieldset>
            </form>
            <!-- ############### VS1Lab 1a Form 1 End -->

        </section>

        <section class="main__discovery discovery col-8">
            <h2 class="discovery__title">Discovery</h2>

            <!-- ############### VS1Lab 1a Form 2 Start -->
            <form class="discovery__search" id="discoveryFilterForm" action="/discovery" method="post">
                <fieldset>
                    <legend>Search</legend>

                    <label class="discovery_search_item" for="searchvalue">Search term or keywords:</label>    
                    <input class="block discovery_search_item" name="search" type="text" id="searchvalue" placeholder="e.g. Berlin">
                
                    <input class="discovery_search_item" type="submit" id="search" value="Search">

                </fieldset>
            </form>
            <!-- ############### VS1Lab 1a Form 2 End -->

            <div class="discovery__wrapper row">
                <input type="hidden" id="hiddenLatitude" name="hiddenUserLat" value='<%= userLatValue %>'/>
                <input type="hidden" id="hiddenLongitude" name="hiddenUserLong"  value='<%= userLongValue %>'/>
                    
                <div class="discovery__taglist col-4">
                    <ul class="discovery__results" id="discoveryResults">
                        <% if (taglist !== undefined) taglist.forEach(function(gtag) { %>
                            <li><%= gtag.name %> ( <%= gtag.latitude %>,<%= gtag.longitude %>) <%= gtag.hashtag %> </li>
                        <% }); %>
                    </ul>
                </div>

                <div class="discovery__map col-8">
                    <img src="./images/mapview.jpg" name="image" alt="a map with locations" id="mapView" data-tags='<%= tagGeoTag %>'/>  
                    <span class="block">Result map</span>
                </div>
            </div>
        </section>

    </main>

    <footer class="footer">
        <span>(c) 2021/22 HKA_IWI_VSYS</span>
    </footer>
    
    <!-- Load JavaScripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./javascripts/map-manager.js"></script>
    <script src="./javascripts/location-helper.js"></script>
    <script src="./javascripts/geotagging.js"></script>
</body>

</html>