<!DOCTYPE html>

<!-- File origin: VS1LAB A1a -->

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeoTagApp</title>
    <link rel="stylesheet" href="./stylesheets/style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<header class="header">
    <img src="./images/location.png" class="header__image" alt="an image of a map and location">
    <h1 class="header__title">GeoTagApp</h1>
    <nav class="header__navigation">
        <a href="#">About</a> | <a href="#">Help</a> | <a href="/">Home</a>
    </nav>
</header>

<main class="main row inset">
    <section class="main__tagging tagging col-3">
        <h2>Tagging</h2>
        <form id="tag-form" action="/tagging" method="post">

            <!-- ... your code here ... -->
            <fieldset class="form inset">
                <legend>Add a new GeoTag</legend>
                <label for="lat" class="label" >Latitude:</label>
                <input id="lat" class="button" name="lat" type="text" value='<%= latcoord %>' readonly>
                <label for="long" class="label" >Longitude:</label>
                <input id="long" class="button" name="long" type="text" value='<%= longcoord %>' readonly>
                <label for="name" class="label">Name:</label>
                <input id="name" class="button" name="name" type="text" placeholder="e.g. Central Berlin" required maxlength="10">
                <label for="hashtag" class="label">Hashtag:</label>
                <input id="hashtag" class="button" name="hashtag" type="text" placeholder="e.g. #ber"
                       pattern="#[A-Za-z]{1,10}">
                <input class="button" type="submit" value="Add Tag">
            </fieldset>
        </form>
        <!-- ############### VS1Lab 1a Form 1 End -->

    </section>

    <section class="main__discovery discovery col-9">
        <h2 class="discovery__title">Discovery</h2>

        <!-- ############### VS1Lab 1a Form 2 Start -->
        <form class="discovery__search" id="discoveryFilterForm" action="/discovery" method="post" style="width: 100%;">

            <fieldset class="form inset">
                <legend>Search</legend>
                <label for="searchterm" class="label">Search term or keywords:</label>
                <input id="searchterm" class="button" name="keyword" type="text" placeholder="e.g. Berlin">
                <input class="button" type="submit" value="Search">
                <input id="latHidden" name="latHidden" value="<%= latcoord %>" hidden>
                <input id="longHidden" name="longHidden" value="<%= longcoord %> hidden" hidden>
            </fieldset>

        </form>
        <!-- ############### VS1Lab 1a Form 2 End -->

        <div class="discovery__wrapper">
            <div class="discovery__taglist">
                <ul class="discovery__results" id="discoveryResults">
                    <% if (taglist !== undefined) taglist.forEach(function(gtag) { %>
                        <li><%= gtag.name %> (<%= gtag.lat %>,<%= gtag.long %>) <%= gtag.hashtag %> </li>
                    <% }); %>
                </ul>
            </div>
            <!-- TODO: Spacer between -->
            <div class="discovery__map">
                <img src="./images/mapview.jpg" alt="a map with locations" id="mapView" data-tags="<%=geoTagList%>"/>
                <span>Result map</span>
            </div>
        </div>
    </section>

</main>

<footer class="footer">
    <span>(c) 2021/22 HKA_IWI_VSYS</span>
</footer>
<script src="./javascripts/location-helper.js"></script>
<script src="./javascripts/map-manager.js"></script>
<script src="./javascripts/geotagging.js"></script>
</body>

</html>

