
	<!-- TODO: HTML AUS AUFGABE2 HIERHER KOPIEREN UND DIE BEISPIEL-EINTRÄGE DER DISCOVERY-LISTE MIT DEN FOLGENDEN ZEILEN ERSETZEN -->

<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>GeoTagApp</title>
		<link rel='stylesheet' href='./stylesheets/style.css'/>
	</head>

	<body>

		<header>
			<img src="./images/location.png" width="100"
					alt="an image of a map and location">
			<h1>GeoTagApp</h1>
			<nav>
				<a href="#">About</a> | <a href="#">Help</a> | <a
					href="/">Home</a>
			</nav>
		</header>

		<main class= "main">

			<section class="tagging col-3">
				<h2>Tagging</h2>

				<!-- ############### Aufgabe1a Form1 Start -->
				<form id="tag-form" action="/tagging" method="post">
					<fieldset>
						<legend> Enter new GeoTag </legend>

					<label for="tLatitude"> Latitude </label> <br>
					<input type="text" id="tLatitude" name="tLatitude" placeholder="49.01379" value="<%= tLat %>"required> <br><br>

					<label for="tLongitude"> Longitude </label> <br>
					<input type="text" id="tLongitude" name="tLongitude" placeholder="8.390071" value="<%= tLong %>" required><br><br>

					<label for="tName"> Name </label> <br>
					<input type="text" id="tName" name="tName" maxlength=10 placeholder="some name" required> <br><br>

					<label for="tHashtag"> Hashtag </label> <br>
					<input type="text" id="tHashtag" name="hashtag" maxlength=11 pattern="[#][A-zäöüÄÖÜß]*" placeholder="# + max. 10 letters" > <br><br>


				  <input type="button" value="submit" name="submit" id="tsubmit">

					</fieldset>
				</form>
				<!-- ############### Aufgabe1a Form1 Ende -->

			</section>

			<section class="discovery col-9">
				<h2>Discovery</h2>

				<!-- ############### Aufgabe1a Form2 Start -->
				<form id="filter-form" action="/discovery" method="post">

					<fieldset>
						<legend> Filter by Searchterm </legend>
						<input type="text" id="discovery" name="discovery" placeholder="search term">
						<input type="hidden" id="fLongitude" name="fLongitude" value="<%= fLong %>">
						<input type="hidden" id="fLatitude" name="fLatitude" value="<%= fLat %>">

						<input type="button" value="apply" id="fsubmit">

					</fieldset>
				</form>

				<!-- ############### Aufgabe1a Form2 Ende -->

				<div class="elements col-12">
					<div class="paginatedList" id="paginatedList">
						<div class="taglist col-5">
							<ul id="results">
								<li id="0"></li>
								<li id="1"></li>
								<li id="2"></li>
								<!--<li id="3"></li>
								<li id="4"></li>

								<li id="5"></li>
								<li id="6"></li>
								<li id="7"></li>
								<li id="8"></li>
								<li id="9"></li> -->
							</ul>
						</div>
						<div class="pagenumbers" id="pagination">
							<input type="button" id="previousButton" value="Prev" disabled>
							<input type="button" id="minustwo" value ="" disabled>
							<input type="button" id="minusone" value ="" disabled>
							<input type="button" id="currentButton" value ="1" >
							<input type="button" id="plusone" value ="" >
							<input type="button" id="plustwo" value ="" >
							<input type="button" id="nextButton" value="Next" >
						</div>
					</div>
				<div class="tagmap col-7">
					<img id="result-img" src="./images/mapview.jpg" alt="a map with locations" data-tags="<%= maptaglist%>"/>
					<div class="caption">Result map</div>
				</div>
			</div>

			</section>

		</main>

		<footer>
			<span>2017 by LKIT</span>
		</footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="./javascripts/geotagging.js"></script>

	</body>
</html>
